.App{
    justify-content: center;
    align-items: center;
    background-color:white;
}



.arrow{
    height: 100px;
    width: 100px;
}

.Box{
    display: flex;
    flex-direction: column;
    border: 200px;
    background-color:whitesmoke;
    border-color: black;
    justify-content: center;
    align-items: center;
    padding: 10%;
    margin: 20%;
    position: static;
}

.Button{
    display: flex;
    justify-content: center;
    align-items:  flex-end;
    margin-top: 40px;
    width: 50px;
}

.Flashcard{
    border-style: dashed;
    border: 15px;
    background-color: red;
    padding: 30%;
}